.account-details-container {
    width: 80%;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.left-side-details {
    background: #f2f2f2;
    min-width: 250px;
    width: 30%;
    text-align: left;

}

.avatar-container {
    padding-top: 5%;
    text-align: center;
}

#avatar-img {
    border-radius: 50%;
}

.list-account-info {
    text-align: left;

}

span {
    padding-left: 25%;
}

.list-account-options {
    padding-top: 5%;
    padding-left: 17.5%;
}

.account-button {

    width: 75%;
    font-size: 24px;
    text-align: left;
    margin-bottom: 10px;

}


.right-side-details {
    width: 50%;
}

.nav-bar-components {
    list-style-type: none;
    padding: 0;
    margin: 0;
}