html,
body {
    box-sizing: border-box;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 250px auto;
}

.main-view {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.file {
    width: 100px;
    height: 100px;
}

.file img {
    width: 100%;
}

.file figcaption {
    font-family: "Nexa Text Demo Light", Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    font-size: 12px;
}

#contextMenu {
    display: none;
    position: absolute;
    width : 200px;
    border: 1px solid #800080;
    background-color: rgba(0, 0, 0, 0.9);
}

.context-menu-item {
    width: 100%;
    border: 1px solid #800080;
    color: white;
    cursor: pointer;
}

.context-menu-item:hover {
    background: #800080;
}
