body{
    margin: 0;
    padding: 0;
    background-image: url('../img/background.jpg');
    background-size: cover;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.user-entry-form {
    width:300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    border-radius: 5%;
}

.user-entry-form input[type = "text"],.user-entry-form input[type = "password"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #800080;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.user-entry-form input[type = "text"]:focus,.user-entry-form input[type = "password"]:focus {
    width: 280px;
    border-color: green;
}


.user-entry-form input[type = "submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #800080;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.user-entry-form input[type = "submit"]:hover {
    background: #800080;
}

.footer {
    position: fixed;
    color: white;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-transform: uppercase;
    font-size: 1em;
    background-color: black;
    opacity: 0.6;
}

@media screen and (max-height: 545px) {
    .footer {
        height: 10%;
    }
}