#new-folder-name {
    position: fixed;
    left: 0;
    top: -21px;
    visibility: hidden;
    width: 100vw;
    height: 150vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#new-folder-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main-axis vertical */
    justify-content: flex-end;
    /* align items vertically, in this case */
    align-items: center;
    /* align items horizontally, in this case */
}

#new-folder-text {
    display: block;
    text-align: center;
}
#new-folder-box {
    background: rgba(0, 0, 0, 0.7);
    display: block;
    position: center;
    color: white;
    height: 50px;
    width: 50%;
    overflow: hidden;
}
