@import "menu-button.css";

.side-menu {
    position: fixed;
    grid-column-start: 1;
    height: inherit;
    width: 250px;
    background-color: rgba(0,0,0,0.7);
}

.side-menu#side-menu-button {
    margin: 0;
    padding: 0;
    display: none;
}

.main-view {
    grid-column-start: 2;
}

#space-left {
    width: 250px;
    position: absolute;
    bottom: 57px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

#space-left * {
    margin: 0;
}

@media screen and (max-width: 678px) {
    body {
        grid-template-columns: 42px auto;
    }
    .side-menu {
        background-color: purple;
        width: 42px;
    }
    .side-menu>* {
        width: 0;
        display: none;
    }
    .side-menu button {
        width: 0;
        display: none;
    }
    #side-menu-button {
        background-color: purple;
        display: block;
    }

    #side-menu-button {
        height: 42px;
        width: 42px;
        display: block;
    }

    .change.side-menu {
        width: 250px;
        transition: none;
        background-color: rgba(0,0,0,0.7);
    }

    .change.side-menu>* {
        width: 250px;
        display: block;
        transition: none;
    }
    .change #space-left {
        color: white;
    }
}

.menu-side-bar{
    background: #353b48;
    display: block;
    height: 12px;
    border: 3px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #00ff00b3;
}
.total-used-space{
    height: 12px;
    float: left;
    background: #00ff00;
    width: 75%;
}
