html,
body {
  margin: 0;
  border: 0;
  padding: 0;
}
@font-face {
  font-family: 'Nexa Text Demo Light';
  src: url('../fonts/NexaTextDemo-Light.eot') format('embedded-opentype');
  src: url('../fonts/NexaTextDemo-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NexaTextDemo-Light.woff2') format('woff2'),
  url('../fonts/NexaTextDemo-Light.woff') format('woff'),
  url('../fonts/NexaTextDemo-Light.ttf') format('truetype');
}

body {
  font-family: 'Nexa Text Demo Light', Helvetica, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: purple;
  /* Default background gradient in case something goes wrong */
  /*background: linear-gradient(to right, red, yellow); */
  background: white;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 42px;
  display: flex;
  justify-content: space-between;
  background: purple;
  transition: all 400ms;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo {
  display: flex;
  align-items: center;
  height: 40px;
  width: auto;
}