body{
    margin: 0;
    padding: 0;
    background-image: url('../img/background.jpg');
    background-size: cover;
}
#avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.user-entry-form{
    width:300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.9);
    text-align: center;
    border-radius: 5%;
}

.user-entry-form h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.user-entry-form input[type = "text"],.user-entry-form input[type = "password"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #800080;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.user-entry-form input[type = "text"]:focus,.user-entry-form input[type = "password"]:focus{
    width: 280px;
    border-color: green;
}


.user-entry-form input[type = "submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #800080;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.user-entry-form input[type = "submit"]:hover{
    background: #800080;
}