<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>About Us</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="public/css/style.css" />
        <link rel="stylesheet" href="public/css/nav.css" />
        <link rel="stylesheet" href="public/css/about.css" />
    </head>
    <body>
        <header id="nav-bar"></header>

        <!-- The fancy motto banner -->
        <h1>We are UnST Team!</h1>

        <div class="section">
            <div class="section-title">
                <a href="#whoWeAre" onclick="hideOrDisplay('whoWeAre')"
                    >Who we are?</a
                >
            </div>
            <div class="section-content">
                <div id="whoWeAre">
                    <p>We are UnST Team!</p>
                    <p>
                        The team is made up by three passionate students from
                        Faculty of Computer Science, Iasi.
                    </p>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-title">
                <a href="#whatIsUnST" onclick="hideOrDisplay('whatIsUnST')"
                    >What is UnST?</a
                >
            </div>
            <div class="section-content">
                <div id="whatIsUnST">
                    <p>
                        Universal Storage Tool (UnST) is a project aiming at
                        reuniting various cloud storage platforms into a single
                        platform, allowing the users to store big data files
                        across multiple platforms.
                    </p>
                    <p>Yup! You've guessed it! That platform is UnST.</p>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-title">
                <a
                    href="#openSourceByDesign"
                    onclick="hideOrDisplay('openSourceByDesign')"
                    >Open-source by design</a
                >
            </div>
            <div class="section-content">
                <div id="openSourceByDesign">
                    <p>
                        Universal Storage Tool (UnST) is backed by the MIT
                        open-source license.
                    </p>
                    <p>
                        The code is freely available for users on
                        <a
                            href="https://github.com/reloadedd/UniversalStorageTool"
                            >Github</a
                        >.
                    </p>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-title">
                <a
                    href="#supportedPlatforms"
                    onclick="hideOrDisplay('supportedPlatforms')"
                    >Supported platforms</a
                >
            </div>
            <div class="section-content">
                <div id="supportedPlatforms">
                    <p>
                        We will start by supporting the following platforms, but
                        chances are that we will support even more!
                    </p>
                    <div class="platform">
                        <a href="https://drive.google.com/drive/"
                            ><img
                                src="public/img/google-drive.png"
                                alt="Google Drive Logo"
                        /></a>
                        <p>Google Drive</p>
                    </div>
                    <div class="platform">
                        <a href="https://www.dropbox.com/?landing=dbv2"
                            ><img
                                src="public/img/dropbox.png"
                                alt="Dropbox Logo"
                        /></a>
                        <p>Dropbox</p>
                    </div>
                    <div class="platform">
                        <a href="https://onedrive.live.com/about/en-us/signin/">
                            <img
                                src="public/img/onedrive.png"
                                alt="Onedrive Logo"
                            />
                        </a>
                        <p>OneDrive</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="public/js/motto-writer.js"></script>
        <script src="public/js/hiding-menu.js"></script>
        <script src="public/js/nav-bar.js"></script>
        <script src="public/js/menu-button.js"></script>
    </body>
</html>
