<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>'Username' account</title>
    <link rel="stylesheet" href="../../public/css/account.css">
    <link rel="stylesheet" href="public/css/nav.css">
    <script src="https://kit.fontawesome.com/b5716d189e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="nav-bar"></header>
    <div class="account-details-container">
        <div class="left-side-details">
            <div class="avatar-container">
                <img id="avatar-img" src="../../public/img/avatar.png" title="Profile avatar">
            </div>
            <div class="list-account-info">
                <span>
                    <i class="fas fa-user"></i>   #
                </span>
                </br>
                <span>
                    <i class="fas fa-clock"></i>    Registered on #
                </span>
                </br>
                <span>
                    <i class="fas fa-cloud-upload-alt"></i>   # Gb uploaded
                </span>
            </div>
            <div class="list-account-options">
                <button class="account-button">
                    <i class="fas fa-user-edit"></i>   Edit account
                </button>
                <button class="account-button">
                    <i class="fas fa-user-slash"></i>  Delete account</i>
                </button>
                <button class="account-button">
                    <i class="fas fa-sign-out-alt">     Sign out</i>
                </button>

            </div>

        </div>
        <div class="right-side-details">
            <!--<div class="account-nav-bar">
                <ul class="nav-bar-components">
                    <li role="presentation">
                        <a href="#">History</a>
                    </li>
                    <li role="presentation">
                        <a href="#">Statistics</a>
                    </li>
                </ul>
            </div>
            <div class="content">

            </div>-->
        </div>
    </div>

</body>
<script src="../../public/includes/nav-bar.js"></script>
<script src="public/includes/menu-button.js"></script>
</html>