<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Credits</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="public/css/style.css" />
        <link rel="stylesheet" href="public/css/nav.css" />
        <link rel="stylesheet" href="public/css/credits.css" />
    </head>
    <body>
        <header id="nav-bar"></header>

        <p>
            Icons made by
            <a
                href="https://www.freepik.com"
                title="Freepik"
                class="regular-link"
                >Freepik</a
            >
            from
            <a
                href="https://www.flaticon.com/"
                title="Flaticon"
                class="regular-link"
                >www.flaticon.com</a
            >
        </p>
        <p>
            Not found image for 404 links taken from
            <a
                href="https://files.paredro.com/uploads/2017/07/404-not-found-01.jpg"
                class="regular-link"
                >files.paredro.com</a
            >
        </p>
        <p>
            Loading animation from
            <a href="https://loading.io/" class="regular-link">loading.io</a>
        </p>
        <p>
            File and folder icons from
            <a href="https://www.iconfinder.com" class="regular-link"
                >iconfinder.com</a
            >
        </p>

        <!-- Website functionality (JavaScript) -->
        <script src="public/js/nav-bar.js"></script>
        <script src="public/js/menu-button.js"></script>
    </body>
</html>
