<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Credits</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/nav.css">
  </head>
  <body>
    <header id="nav-bar"></header>
    <div style="margin-top: 42px">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
    <p>Not found image for 404 links taken from
      <a href="https://files.paredro.com/uploads/2017/07/404-not-found-01.jpg">here</a>
    </p>

    <!-- Website functionality (JavaScript) -->
    <script src="../../public/js/gradient.js"></script>
    <script src="../../public/includes/nav-bar.js"></script>
    <script src="public/includes/menu-button.js"></script>
  </body>
</html>