<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Universal Storage Tool</title>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/style.css">
  </head>

  <body id="gradient">
    <h1>Hello there!</h1>
    <p>I am, therefore I exist.</p>
    <a href="credits.html">Credits</a>
    <p>favicon</p>
    <img src="../../public/img/logo.png" alt="" class="logo">
  </body>

  <!-- Website functionality (JavaScript) -->
  <script src="../../public/js/gradient.js"></script>
</html>