<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Universal Storage Tool</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/nav.css">
  </head>

  <body>
    <ul class="nav-bar">
      <li class="nav-link">
        <img src="public/img/logo.png" alt="" class="logo">
      </li>
      <li class="nav-link">
        <a href="report">Report</a>
      </li>
      <li class="nav-link">
        <a href="about">About</a>
      </li>
    </ul>
    <h1>Hello there!</h1>
    <p>I think, therefore I am.</p>
    <a href="report">Report</a>
    <a href="credits">Credits</a>
    <a href="about">About</a>
    <p>favicon</p>
    <a href="/">
    </a>
  </body>

  <!-- Website functionality (JavaScript) -->
  <!-- <script src="public/js/gradient.js"></script> -->
</html>