<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Universal Storage Tool</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="public/css/nav.css">
    <link rel="stylesheet" href="public/css/side-menu.css">
    <link rel="stylesheet" href="public/css/account.css">
  </head>

  <body>
    <header id="nav-bar"></header>
    <div class="side-menu">
      <div id="side-menu-button"></div>
      <button id="new-button">New</button>
      <button id="files-button">Files</button>
      <div id="space-left">
        <h6>Total available space</h6>
        <span class="bar">
          <span></span>
        </span>
      </div>
    </div>
    <div class="main-view">
    </div>
    <script src="public/js/nav-bar.js"></script>
    <script src="public/js/menu-button.js"></script>
    <script src="public/js/side-menu-button.js"></script>
    <script src="public/js/demo-files.js"></script>
  </body>
</html>