<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/login.css">
    <script type="text/javascript" src="public/js/login.js"></script>
  </head>
  <body>
    <form class="user-entry-form" onsubmit="event.preventDefault()">
      <img src="public/img/logo.png" class="logo" alt="logo image">
      <label>
        <input type="text" id="userName" name="username" placeholder="Username" autofocus required minlength="6" maxlength="32">
      </label>
      <label>
        <input type="password" id="password" name="password" placeholder="Password" required minlength="8"
               maxlength="32">
      </label>
      <input type="submit" name="login" value="Login" onclick="doLogin();">
      <input type="submit" name="register" value="Register" onclick="doRegister();">
    </form>

    <div class="footer">
      <p>Copyright © 2021
        <a href="https://github.com/reloadedd/UniversalStorageTool/tree/master#maintainers"
           class="regular-link">UnST Team</a>.
      </p>
    </div>
  </body>
</html>