<!-- Scholarly HTML Report describing project' details -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Scholarly HTML Report</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="public/css/style.css">
        <link rel="stylesheet" href="public/css/nav.css">
    </head>
    <body>
        <header id="nav-bar"></header>
        <h1>Scholarly HTML Report</h1>

        <!-- Website functionality (JavaScript) -->
        <script src="public/js/gradient.js"></script>
        <script src="../../public/includes/nav-bar.js"></script>
        <script src="public/includes/menu-button.js"></script>
    </body>
</html>
