<!-- Scholarly HTML Report describing project' details -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Scholarly HTML Report</title>
        <link rel="stylesheet" href="public/css/report.css" />
    </head>
    <body>
        <h1>Scholarly HTML Report</h1>
        <div role="contentinfo">
            <ol role="directory">
                <li>
                    <a href="#abstract">1. Abstract</a>
                </li>
                <li>
                    <a href="#introduction">2. Introduction</a>
                    <ol role="directory">
                        <li>
                            <a href="#motivation">2.1. Motivation</a>
                        </li>
                        <li>
                            <a href="#purpose">2.2. Purpose</a>
                        </li>
                    </ol>
                </li>
                <li>
                    <a href="#structure">3. Structure</a>
                    <ol role="directory">
                        <li>
                            <a href="#functionalities">3.1 Functionalities</a>
                        </li>
                        <li>
                            <a href="#ui-components">3.2 UI Components</a>
                            <ol role="directory">
                                <li>
                                    <a href="#index-page">3.2.1 Index Page</a>
                                    <ol role="directory">
                                        <li>
                                            <a href="#nav-bar"
                                                >3.2.1.1 Navigation Bar</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#side-menu"
                                                >3.2.1.2 Side Menu</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#main-view"
                                                >3.2.1.3 Main View</a
                                            >
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <a href="#login-register-page"
                                        >3.2.2 Login/Register Page</a
                                    >
                                </li>
                                <li>
                                    <a href="#account-page"
                                        >3.2.3 Account Page</a
                                    >
                                </li>
                                <li>
                                    <a href="#about-page">3.2.4 About Page</a>
                                    <ol role="directory">
                                        <li>
                                            <a href="#who-we-are"
                                                >3.2.4.1 Who we are?</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#what-is-unst"
                                                >3.2.4.2 What is UnST?</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#open-source-by-design"
                                                >3.2.4.3 Open-source by
                                                design</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#supported-platforms"
                                                >3.2.4.4 Supported platforms</a
                                            >
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <a href="#credits-page"
                                        >3.2.5. Credits Page</a
                                    >
                                </li>
                            </ol>
                        </li>
                        <li>
                            <a href="#database">3.3. Database Architecture</a>
                        </li>
                        <li>
                            <a href="#server-side">3.4. Server Side Role - Routes</a>
                            <ol role="directory">
                                <li>
                                    <a href="#entry-point">3.4.1. Entry Point of the application, Root Route</a>
                                </li>
                                <li>
                                    <a href="#drivers-routes">3.4.2. Drivers Routes</a>
                                </li>
                                <li>
                                    <a href="#user-routes">3.4.3. User Routes</a>
                                </li>
                                <li>
                                    <a href="#file-routes">3.4.4. File Routes</a>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <a href="#user-manual">4. User Manual</a>
                    <ol role="directory">
                        <li>
                            <a href="#account">4.1. Account</a>
                            <ol role="directory">
                                <li>
                                    <a href="#login-register">4.1.1. Authentication & Registration</a>
                                </li>
                                <li>
                                    <a href="#account-settings">4.1.2. Account Settings</a>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <a href="#files-directory-management">4.2. Files & Directories management</a>
                            <ol role="directory">
                                <li>
                                    <a href="#list-files">4.2.1 See your listed directories/files</a>
                                </li>
                                <li>
                                    <a href="#create-directory">4.2.2 How to create a directory</a>
                                </li>
                                <li>
                                    <a href="#uploading-files">4.2.3 How to upload a file</a>
                                </li>
                                <li>
                                    <a href="#download-file">4.2.4 How to download a file</a>
                                </li>
                                <li>
                                    <a href="#delete-files-directory">4.2.5 How to delete a file/directory</a>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <a href="#drivers-management">4.3. Drivers Management</a>
                            <ol role="directory">
                                <li>
                                    <a href="#add-drive">4.3.1. Add a drive</a>
                                </li>
                                <li>
                                    <a href="#see-drives-statistics">4.3.2. See Drivers Statistics</a>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <a href="#conclusions">5. Conclusions</a>
                </li>
                <li>
                    <a href="#references">6. References</a>
                </li>
            </ol>
            <dl>
                <dt property="schema:author" typeof="sa:ContributorRole">
                    Authors
                </dt>
                <dd>
                    <span property="schema:author" typeof="schema:Person">
                        <span property="schema:familyName">Ro&#351;ca</span>
                        <span property="schema:givenName">Ionu&#355;, </span>
                    </span>
                    <span property="schema:author" typeof="schema:Person">
                        <span property="schema:familyName">Tache</span>
                        <span property="schema:givenName">Radu-Ioan, </span>
                    </span>
                    <span property="schema:author" typeof="schema:Person">
                        <span property="schema:familyName">Peiu</span>
                        <span property="schema:givenName">Iulian</span>
                    </span>
                </dd>

                <dt>Bugs and Feedback</dt>
                <dd>
                    <a href="https://github.com/reloadedd/UniversalStorageTool"
                        >Let us know your impression!</a
                    >
                </dd>
            </dl>
        </div>

        <section id="abstract" role="doc-abstract">
            <h2>1. Abstract</h2>
            <p>
                Universal Tool Storage is a web application that gives all its
                users the possibility to store complex files of a large size
                through another cloud service provider such as: DropBox, Google
                Drive, OneDrive (others may be added in time). This document
                describes how <i>Universal Tool Storage</i> works and should be
                used.
            </p>
        </section>

        <section id="introduction" role="doc-introduction">
            <h2>2. Introduction</h2>
            <p>
                The current digital age is marked by our reliance on the cloud.
                Multiple applications are used in a large diversity that defines
                the ides of cloud storage.
            </p>
            <p>
                <i>Universal Storage Tool</i> is the application that helps
                users managing multiple cloud storage services from a single
                place. The application allows all its users to upload, download
                and archive files. Even if a file is lage and can not be
                uploaded due to its size, <i>Universal Storage Tool</i> will
                offer the possibility to fragment this file in smaller pieces
                and upload them in different cloud storage such that they will
                fit. Of course, if the user wants to download it, will be
                reconstructed to its initial form and delivered to him/her.
            </p>
            <section typeof="sa:MaterialAndMethods" id="motivation">
                <h3>2.1. Motivation</h3>
                <p>
                    A conducted study shows how "more than half of people use at
                    least 3 different storage services". "Almost all people
                    believe that their data habits have changed due to personal
                    Cloud Storage. A majority of them are now using the cloud as
                    their primary data storage. More than 50% of surveyed people
                    use a free or paid limited storage plan.
                </p>
            </section>
            <section typeof="sa:MaterialAndMethods" id="purpose">
                <h3>2.2. Purpose</h3>
                <p>
                    Universal Storage Tool has, as a first purpose, to offer to
                    its users a simple and clean platform for managing multiple
                    cloud services by linking them to an account. Thus, the
                    users will not need to worry about the details, just focus
                    on what matter the most for them: their data.
                </p>
                <p>
                    The second purpose of this application is efficiency and
                    time saving for our clients, a better and faster way to
                    storage files across multiple cloud storage services.
                </p>
            </section>
        </section>

        <section id="structure">
            <h2>3. Structure</h2>
            <p>
                Universal Storage Tool is structured based on functionalities
                that are provided to its users. The functionalities provided by
                the application include manipulating and computing different
                operations on files that belong to a logged user. In the
                following section, all those functionalities will be presented.
            </p>
            <section id="functionalities">
                <h3>3.1. Functionalities</h3>
                <p>
                    Following a natural order in witch they were implemented,
                    <i>Universal Storage Tool</i> offers:
                </p>
                <ul>
                    <li>
                        <em>User registration and authentication.</em>
                    </li>
                    <li>
                        <em>Linking a cloud service account</em> that does not
                        exist in the current UnST account.
                    </li>
                    <li>
                        <em>Displaying via UI the user account details</em>:
                        user based info and statistics regarding the amount of
                        used space on every cloud service linked to the current
                        account.
                    </li>
                    <li>
                        <em>Displaying via UI all the files</em> from all linked
                        cloud storage services.
                    </li>
                    <li>
                        <em>Uploading files</em> in a classic manner (in a
                        single linked cloud application) or by fragmenting it
                        and uploading it in multiple linked cloud services in
                        case is too large to fit in any linked cloud
                        application.
                    </li>
                    <li>
                        <em>Downloading an existent file that was uploaded</em>
                        in a classic manner if it was uploaded in the same way,
                        or by reconstructing all its fragments from every linked
                        cloud application and putting them together and after
                        that downloading it.
                    </li>
                    <li>
                        <em>Archiving files</em> using a preset software for
                        this purpose.
                    </li>
                </ul>
            </section>
            <section id="ui-components">
                <h3>3.2. UI components</h3>
                <p>
                    <i>Universal Storage Tool's</i> structure is comprised by a
                    number of HTML pages, each having different visual
                    components, which we will explain in the current section.
                </p>
                <section id="index-page">
                    <h4>3.2.1. Index page</h4>
                    <p>
                        The index page is the main page the user will see. It
                        will provide navigation functionalities and will allow
                        the user to see all the files associated with his
                        account, choose to upload a new file and see how much
                        space he/she has left in total.
                    </p>
                    <section id="nav-bar">
                        <h5>3.2.1.1 Navigation Bar</h5>
                        <p>
                            The Navigation Bar is the UI element providing
                            navigation functionality to the user. It includes an
                            image with the project's logo, which if clicked
                            redirects to the Index page, and more links to the
                            right, to all the other HTML pages of the website.
                        </p>
                        <p>
                            The responsiveness is provided through the flexbox
                            containers and media queries for small displays. If
                            the display is narrower than 678 pixels, the
                            elements in the right will not be visible anymore.
                            In their place, a menu icon will appear, and by
                            clicking it the links to the other pages will be
                            displayed in a drop menu fashion.
                        </p>
                        <p>
                            This element appears on all pages, for a more
                            standardized navigation system, except for the
                            Report page, since that one must comply with the
                            Scholarly HTML format.
                        </p>
                    </section>
                    <section id="side-menu">
                        <h5>3.2.1.2 Side Menu</h5>
                        <p>
                            The side menu is one of the two main elements of the
                            body, making one of the two grid columns the body is
                            made of. It allows access all the time to the button
                            for adding a new file and the statistics for the
                            available space in total.
                        </p>
                        <p>
                            When the display is narrower than 678 pixels, its
                            width shrinks to 42 pixels, and instead of the
                            elements it contained, only a menu button will be
                            visible. Upon clicking the button, the side menu
                            will revert to its original width, allowing the user
                            to select one of the possible actions.
                        </p>
                    </section>
                    <section id="main-view">
                        <h5>3.2.1.3 Main View</h5>
                        <p>
                            The main view is the other grid element of the body.
                            This is where files and folders will be visible,
                            allowing the user to download them or confirm that
                            his uploads did succeed.
                        </p>
                        <p>
                            The elements inside this container will be loaded
                            through JavaScript, through AJAX calls using the
                            fetch API, and will be displayed using a simple
                            float left. This way, regardless of the display
                            width, all files will be visible, since it is
                            scrollable.
                        </p>
                    </section>
                    <section id="login-register-page">
                        <h4>3.2.2. Login/Register Page</h4>
                        <p>
                            This page provides the functionality for user login
                            and registration. Both the "Login" and "Register"
                            functionalities will be on the same page. The
                            presentation of the page consist of a form with two
                            text box inputs: username and password and two
                            submit buttons: login and register. If a submit
                            button was clicked, a validation of the input data,
                            username and password, will be executed firstly:
                            username needs to have minimum 6 and maximum 16
                            alphabetic and numeric characters and password needs
                            to have minimum 8 and maximum 32 alphabetic and
                            numeric characters.
                        </p>
                        <p>
                            Based on what button was clicked, the corresponding
                            action will be done. In case of a "Login" button,
                            the user will request to login as a user with
                            username and password inserted in the input fields
                            of the login form, respectively a user registration
                            will be requested if the pressed button is
                            "Register".
                        </p>
                        <p>
                            A successful response from the server will redirect
                            the user to the "Home" Page, otherwise the user will
                            be restricted to remain in the "Login/Register"
                            page.
                        </p>
                    </section>
                    <section id="account-page">
                        <h4>3.2.3. Account Page</h4>
                        <p>
                            The "Account" page offers information regarding the
                            current logged in user: username, the registration
                            date, his/her linked cloud applications and a status
                            bar for each one showing the amount of space already
                            in use.
                        </p>
                        <p>
                            This page also allows users to edit or delete their
                            account and also add a new link to another cloud
                            storage application.
                        </p>
                    </section>
                    <section id="about-page">
                        <h4>3.2.4. About Page</h4>
                        <p>
                            The "About" page will be divided into "sections",
                            which will provide the user a comprehensive
                            description about us and our product.
                        </p>
                        <section id="who-we-are">
                            <h5>3.2.4.1 Who we are?</h5>
                            <p>
                                This section will introduce
                                <i>Universal Storage Tool's</i> team to the
                                user.
                            </p>
                        </section>
                        <section id="what-is-unst">
                            <h5>3.2.4.2 What is UnST?</h5>
                            <p>
                                This section will present to the user what this
                                project is all about and what is our goal.
                            </p>
                        </section>
                        <section id="open-source-by-design">
                            <h5>3.2.4.3 Open-source by design</h5>
                            <p>
                                This section will inform the user regarding our
                                product's license and what made us choose an
                                open-source license.
                            </p>
                        </section>
                        <section id="supported-platforms">
                            <h5>3.2.4.4 Supported platforms</h5>
                            <p>
                                This section will explain which cloud storage
                                platforms we currently supported.
                            </p>
                        </section>
                    </section>
                    <section id="credits-page">
                        <h4>3.2.5. Credits Page</h4>
                        <p>
                            This page will give credits to the original authors
                            of any type of resources that they provided and was
                            also used by us. At the time of writing, our logo
                            image and the 404 not found image are mentioned in
                            the "Credits" page, as they were taken from various
                            sources available on the Internet (the exact source
                            is available on that page) and we acknowledge this
                            fact.
                        </p>
                    </section>
                </section>
            </section>
            <section id="database">
                <h3>3.3. Database</h3>
                <p>
                    The Database architecture is as follows:
                    <img src="public/img/DatabaseUML.jpg" alt="database">
                    The structure and the all the names are clear, so all the
                    fields express their responsibilities by their names.
                </p>
            </section>
            <section id="server-side">
                <h3>3.4. Server Side Role - Routes</h3>
                <p>
                    <img src="public/img/UniversalStorageTool_Infrastructure.png"
                        alt="client-server" width="100%">
                    On the Server Side, <i>Universal Storage Tool</i> has the
                    logic of the application implemented. In this section,
                    we will show you how the server interacts with the client
                    by mostly referring to application routes.
                </p>
                <section id="entry-point">
                    <h4>3.4.1. Entry Point of the application, Root Route</h4>
                    <p>
                        On the "/index" or "/" route is the Entry point of UnST
                        application. When the an user enters here, firstly, if
                        he is not logged in, aka does not have its user data saved
                        on browser cookies, It will be redirected on the
                        login page. Otherwise, the needed data from server will
                        be loaded on this page: total available space, all user
                        files and folders and others.
                    </p>
                    <p>
                        The total available space is provided by the server by
                        requesting all the available space from all the user
                        linked drives and summed up.
                    </p>
                    <p>
                        All user files name and drivers corresponding ids are
                        stored in the database. So everytime when uploading
                        or deleting a file, that file isn't gone be only
                        uploaded/deleted, but it will also have its name, id,
                        parent folder and driver that is from in the database.
                    </p>
                    <p>
                        When listing all the files, the server will only list
                        the name of files and directories from database that
                        are in the current directory.
                    </p>
                    <p>
                        When downloading a selected file, the server will
                        actually request that file with its specific id,
                        from its specific driver/drivers.
                    </p>
                    <p>
                        Before entering in any route, the server will refresh
                        the access token saved as browser cookie from every
                        linked drive.
                    </p>
                </section>
                <section id="drivers-routes">
                    <h4>3.4.2. Drivers Routes</h4>
                    <p>
                        Every driver that is linked to this app will have access
                        to the following routes "[driver name]/space", "[driver
                        name]/auth", "[driver name]/token", where [driver name]
                        can potentially be "g-drive","onedrive" or "dropbox".
                    </p>
                    <p>
                        The "/space" from every driver route will give you as
                        response in body the total available space in that specific
                        drive and also the amount of used space from it.
                    </p>
                    <p>
                        The "/auth" and "/token" from every driver route will
                        be used to grand permission to the user drivers and
                        to get a refresh token that will be stored on the
                        database.
                    </p>
                </section>
                <section id="user-routes">
                    <h4>3.4.3. User Routes</h4>
                    <p>
                        The "/login", "/register" and "/logout" are that user
                        specific routes. On login the server will take the username
                        and password and will make a database verification to see
                        if that data is valid and exist in the database. On register
                        the server will add a new user in the database with that
                        specific username and password, only if that user does not
                        already exists in the database.After login or register the
                        user id is saved via browser cookies. On logout the browser
                        cookies are cleared.
                    </p>
                </section>
                <section id="file-routes">
                    <h4>3.4.4. File Routes</h4>
                    <p>
                        On "/file" route, depending on the method: delete or patch,
                        the server will delete or rename the specifies file with
                        the file id in the query.
                    </p>
                    <p>
                        On "/dir" route, depending on the method: delete or patch,
                        the server will delete or rename the specified directory
                        with the directory id in the query.
                    </p>
                    <p>
                        On "/newDir" route (post) a new directory will be created
                        with the name and parent-directory id specified in the
                        body request.
                    </p>
                </section>
            </section>
        </section>

        <section id="user-manual">
            <h2>4. User Manual</h2>
            <p>
                In this section we will show you how to use this application as its
                user.
            </p>
            <section id="account">
                <h3>4.1. Account</h3>
                <section id="login-register">
                    <h4>4.1.1. Authentication & Registration</h4>
                    <p>
                        Enter on the "/login" path (or "/" or "/index" and will
                        be redirected to "/login" if you are not signed in)
                        and a page form will be shown. If you are register on
                        UnST enter your registration name and password and
                        after that you will be redirected to the home page.
                        If you are not registered, you can do it by completing
                        the form from "/login" and press the "Register" button.
                        Make sure that the username and password fields are
                        completed and not empty and they respect the following
                        properties: the length of the username is at least 6 and
                        maximum 32 characters long and the length of the password
                        is at least 8 and maximum 32 characters long. If the
                        username is already taken, retry another one.
                    </p>
                </section>
                <section id="account-settings">
                    <h4>4.1.2. Account Settings</h4>
                    <p>
                        This application also gives you the options to edit your
                        account username and password. And if you want to delete
                        your account, all the files that you stored in this app
                        will be deleted or not from all the drivers the are stored
                        into, according to your decision.
                    </p>
                </section>
            </section>
            <section id="files-directory-management">
                <h3>4.2. Files & Directories management</h3>
                <section id="list-files">
                    <h4>4.2.1 See your listed directories/files</h4>
                    <p>
                        Enter on "/" or "/index" page and in the files directories
                        container will be listed all the files and directories.
                        From here you can navigate through directories and see their
                        content by simply clicking them to open.
                    </p>
                </section>
                <section id="create-directory">
                    <h4>4.2.2 How to create a directory</h4>
                    <p>
                        Enter on "/" or "/index" page and in the files directories
                        container will be listed all the files and directories.
                        From here you can create a directory on the current directory
                        that you are into by clicking the "New folder" button situated
                        on the of the left side menu from index page.
                    </p>
                </section>
                <section id="uploading-files">
                    <h4>4.2.3 How to upload a file</h4>
                    <p>
                        Enter on "/" or "/index" page and click the "Upload Files"
                        button situated in the top part of the side menu.To upload a
                        file or more, select them from the window that popped out
                        after you clicked the "Upload Files" button. The server will
                        handle the request after and give you a response. The uploaded
                        file will be situated on the current directory that you are in.
                    </p>
                </section>
                <section id="download-file">
                    <h4>4.2.4 How to download a file</h4>
                    <p>
                        Enter on "/" or "/index" page and in the files & directories
                        container will be listed all the files and directories. From
                        here you can download a file by right clicking on a file and
                        from the context menu select "Download" and immediately after
                        that the download of that file will be initiated.
                    </p>
                </section>
                <section id="delete-files-directory">
                    <h4>4.2.5 How to delete a file/directory</h4>
                    <p>
                        Enter on "/" or "/index" page and in the files & directories
                        container will be listed all the files and directories. From
                        here you can delete a file by right clicking on a file and
                        from the context menu select "Delete" and immediately after
                        that the selected file/directory. If a directory has more
                        files and/or directories and the user deletes it, the operation
                        will be done recursively.
                    </p>
                </section>
            </section>
            <section id="drivers-management">
                <h3>4.3. Drivers Management</h3>
                <section id="add-drive">
                    <h4>4.3.1. Add a drive</h4>
                    <p>
                        To add a drive enter on the "/account" page and click on
                        the "Add Drive" button and select a drive that you want to
                        add from the pool(currently only Google Drive, OneDrive and
                        Dropbox). After that you will be redirected to a page where
                        you authorize us to have access to your drive account that
                        you just logged in. Now, you are able to upload, delete and
                        list files from drivers that you linked to this application.
                    </p>
                </section>
                <section id="see-drives-statistics">
                    <h4>4.3.2. See Drivers Statistics</h4>
                    <p>
                        If you have drivers from the pool linked to our application,
                        then you can see different statistics regarding the space
                        available on those drives. On "/account" page you have listed
                        the available space on every single drive linked and on the
                        "/index" or "/" page you have the total available space
                        displayed in the bottom of the left side menu.
                    </p>
                </section>
            </section>
        </section>

        <section id="conclusions" role="doc-conclusion">
            <h2>4. Conclusions</h2>
            <p>
                <i>Universal Storage Tool</i> is currently a work in progress
                and is open to new ideas. We would like your feedback on what we
                have done till now.
            </p>
            <p>
                We believe in the potential of this application, its
                applicability in real life and what it can offer to all our
                clients. It was build respecting general codding styles, design
                patterns and programming principles. So it will be easy to
                maintain and update.
            </p>
        </section>

        <section id="references" role="doc-bibliography">
            <h2>5. References</h2>
            <dl>
                <dt>Cloud Storage Trends</dt>
                <dd>
                    <cite property="schema:name">
                        <a
                            href="https://www.goodfirms.co/resources/personal-cloud-storage-trends"
                        >
                            The cloud storage trend report.
                        </a>
                    </cite>
                </dd>
                <dt>HTML</dt>
                <dd>
                    <cite property="schema:name">
                        <a href="https://www.w3schools.com/html/default.asp">
                            One of the HTML tutorial used.
                        </a>
                    </cite>
                </dd>
                <dt>CSS</dt>
                <dd>
                    <cite property="schema:name">
                        <a href="https://www.w3schools.com/css/default.asp">
                            One of the CSS tutorial used.
                        </a>
                    </cite>
                </dd>
                <dt>General Coding Style</dt>
                <dd>
                    <cite property="schema:name">
                        <a
                            href="https://github.com/felixge/node-style-guide#readme"
                        >
                            Node.js.
                        </a>
                    </cite>
                    <cite property="schema:name">
                        <a href="https://github.com/rwaldron/idiomatic.js">
                            JavaScript.
                        </a>
                    </cite>
                    <cite property="schema:name">
                        <a
                            href="https://google.github.io/styleguide/htmlcssguide.html"
                        >
                            HTML & CSS.
                        </a>
                    </cite>
                </dd>
            </dl>
        </section>
    </body>
</html>
