<!-- Scholarly HTML Report describing project' details -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Scholarly HTML Report</title>
        <link rel="stylesheet" href="public/css/report.css">
    </head>
    <body>

        <div id="report-text-zone">
            <h1>Scholarly HTML Report</h1>

            <div role="contentinfo">
                <ol>
                    <li><a href="#abstract">Abstract</a></li>
                    <li><a href="#introduction">Introduction</a></li>
                    <li><a href="#structure">Structure</a></li>
                    <li><a href="#semantics-overlay">Semantics Overlay</a></li>
                    <li><a href="#scholarly-article">Scholarly Article Vocabulary</a></li>
                    <li><a href="#hypermedia-controls">Hypermedia Controls</a></li>
                    <li><a href="#processing-model">Processing Model</a></li>
                    <li><a href="#acknowledgements">Acknowledgements</a></li>
                    <li><a href="#references">References</a></li>
                </ol>
            </div>
            <semantics>

            </semantics>
            <section id="abstract">
                <h2>1. Abstract</h2>
                <p>
                    Universal Tool Storage is a web application that gives all its users the possibility to store complex files of a large size
                    thru another cloud services such as:Box, DropBox, Google Drive, etc. This document describes how Universal Tool Storage works and
                    should be used.
                </p>
            </section>

            <section id="introduction">
                <h2>2. Introduction</h2>
                <p>
                    The current digital age is marked by our reliance on the cloud. Multiple applications are used in a large diversity that defines
                    the ides of cloud storage.
                </p>
                <p>
                    A conducted study shows how "more than half of people use at least 3 different storage services". "Almost all people believe that
                    their data habits have changed due to personal Cloud Storage. A majority of them are now using the cloud as their primary data
                    storage. More than 50% of surveyed use a free or paid limited storage plan".
                </p>

                <p>
                    Universal Tool Storage is the application that helps users managing multiple cloud storage services from a single place. The application
                    allows all its users to upload, download and archive files. Even if a file is lage and can not be uploaded due to its size, Universal
                    Tool Storage will offer the possibility to fragment this file in smaller pieces and upload them in different cloud storage
                    such that they will fit. Of course, if the user wants to download it, will be reconstructed to its initial form and delivered to him.
                </p>


            </section>

            <section id="structure">
                <h2>3.Structure</h2>
                <p>
                    The web
                </p>
            </section>

            <section id="semantics-overlay">

            </section>

            <section id="scholarly-article">

            </section>

            <section id="hypermedia-controls">

            </section>

            <section id="processing-model">

            </section>

            <section id="acknowledgements">

            </section>

            <section id="references">
                <h2>9. References</h2>
                <dl>

                    <dt>Cloud Storage Trends</dt>
                    <dd>
                        <cite property="schema:name">
                            <a href="https://www.goodfirms.co/resources/personal-cloud-storage-trends">
                                The cloud storage trend report.
                            </a>
                        </cite>
                    </dd>
                </dl>
            </section>
        </div>
    </body>
</html>
