<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/user_entry.css">
</head>
<body>
    <form class="user-entry-form" action="#" method="post">
        <img src="public/img/logo.png" class="logo" alt="logo image">
        <input type="text" name="username" placeholder="Username" autofocus required minlength="6" maxlength="16">
        <input type="password" name="password" placeholder="Password" required minlength="8" maxlength="32">
        <input type="submit" name="login" value="Login">
        <input type="submit" name="register" value="Register">
    </form>
</body>
</html>